.tool-bar {
    width: 200px;
    height: 300px;
    background-color: #2f3747;
    border: 2px solid CornflowerBlue;
    border-radius: 20px;
}

.tool-bar_shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}